<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Info</title>
</head>
<body>
<h1>¡Conoce mas sobre nosotros!</h1>
<p>INFORMACION AQUI</p>
</body>
</html>